* {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    display:flex;
    background-color: hsl(0, 0%, 15%); 
    color:white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container > * {
    flex: 1 100%;
}

.headerContainer {
    padding: 10px;
    flex: 0.05;
    display: flex;
    color: royalblue;
    font-family: monospace;
    background-color: hsl(0, 0%, 15%);
    font-size: 16px;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

.navLink:link {
    text-decoration: none;
    color: rgb(181, 255, 196);
    opacity: 75%;
}

nav {
    background-color: hsl(0, 0%, 17.5%);
    display: flex;
    align-items: center;
    width: 100vw;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 2.5%;
    border-radius: 50px;
    font-size: 20px;
}

.bodyText {
    flex: 10;
    display:flex;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
}

.footerContainer {
    flex: 0.05;
    display:flex;
    justify-content: space-around;
    background-color: hsl(0, 0%, 15%); 
    width:100%;
    bottom: 0;
    left: 0;
    align-items: center;    
}