* {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    display:flex;
    background-color: hsl(0, 0%, 15%); 
    color:white;
    display: flex;
    flex-direction: column;
}

.container > * {
    flex: 1 100%;
}

.headerContainer {
    padding: 10px;
    flex: 0.05;
    display: flex;
    font-family: monospace;
    background-color: hsl(0, 0%, 15%);
    font-size: 16px;
    text-align: center;
    justify-content: center;   
    position: fixed;
    width: 100%;
}

.headerContainer > h1 {
    font-weight:normal;
    color: hsl(0, 0%, 90%)
}

.underline {
    padding: 7px;
    border-bottom: solid hsl(0, 0%, 45%);
    border-width: 2px;
}

.navLink:link {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    opacity: 85%;
}

.navLink:visited { 
    text-decoration: none;
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
 }
.navLink:focus { 
    text-decoration: none; 
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
}
.navLink:hover, a:active { 
    text-decoration: none; 
    color: hsl(0, 0%, 50%);
}

.footerLinks:link {
    text-decoration: none;
    color: white
}

.footerLinks:visited { 
    text-decoration: none;
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
 }
.footerLinks:focus { 
    text-decoration: none; 
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
}
.footerLinks:hover, a:active { 
    text-decoration: none; 
    color: hsl(0, 0%, 50%);
}

nav {
    background-color: hsl(0, 0%, 17.5%);
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 2.5%;
    border-radius: 50px;
    font-size: 20px;
}

.bodyTextHome { 
    margin-top: 97px;
    padding: 5%;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 300px 300px 300px;
    grid-gap: 4em 0em;
}

.bodyTextWork {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 4em 0em;
}

.bodyTextProjects {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(6, 350);
    grid-row-gap: 0em;
    grid-column-gap: 0em;
}

.bodyTextOther {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 300px 500px 300px;
    grid-gap: 4em 0em;
}

.sec1, .sec2, .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    grid-column: span 1;
    grid-row: span 1;
    font-size: 35px;
    font-weight:bold;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sec1 p, .sec2 p, .sec3 p{
    border-right: solid;
    padding: 30px
}

.sec1Text, .sec2Text, .sec3Text {
    background-color: hsl(0, 0%, 20%);
    grid-column: span 2;
    grid-row: span 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    font-size: 20px
}

.multLines{
    margin-top: 10px;
}

.projectsSec {
    display:flex;
    justify-content: top;
    font-size:30px;
}

.otherSec1 p{
    font-size: 18px;
    margin-top: 15px;
}
.otherSec2 p {
    font-size: 16px;
}

.projectsSec{
    border-bottom-left-radius: 0px;
}

.projectsSecText {
    border-bottom-right-radius: 0px;
}

.homeImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 50px;
    grid-column: span 3;
    grid-row: span 1;
    padding: 20px;
}

.homeImg img {
    padding: 10px;
    border-radius: 30px;
}

.secMedia {
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    grid-column: span 3;
    grid-row: span 1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 40px;
}

.secMedia video, .secMedia img {
    border-radius: 10px;
}

.footerContainer p {
    font-size: 25px;
    opacity: 50%
}

.footerContainer {
    font-family: monospace;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 15%); 
    opacity: 100%;
}

@media screen and (max-width: 700px) {
    .headerContainer {
        font-size: 10px;
    }

    nav {
        font-size: 14px;
    }

    .bodyTextHome, .bodyTextOther, .bodyTextWork {
        grid-row-gap: 1em;
        margin-top: 60px;
    }

    .bodyTextHome {
        grid-template-rows: 200px 200px 200px;
    }

    .bodyTextWork {
        grid-template-rows: repeat(3, 200px);
    }

    .bodyTextOther {
        grid-template-rows: 300px 500px 200px;
    }

    .bodyTextProjects {
        margin-top: 60px;
    }
    
    .sec1, .sec2, .sec3 {
        font-size: 16px;
    }

    .sec1 p, .sec2 p, .sec3 p{
        padding: 10px;
    }
    
    .sec1Text, .sec2Text, .sec3Text {
        font-size: 10px;
        padding: 15px;
    }
    
    .projectsSec {
        font-size: 14px;
    }
    
    .otherSec1 p{
        font-size: 11px;
    }
    .otherSec2 p {
        font-size: 10px;
    }

    .tallImg, .tallVid {
        max-width: 30%;
        width:auto;
        max-height: 60%;
        height:auto;
    }

    .wideImg {
        max-width: 42.5%;
        width:auto;
        max-height: 50%;
        height:auto;
    }
        
    .secMedia {
        padding-bottom: 0px;
        margin-bottom: 1em;
    }
    
    .footerContainer p {
        font-size: 15px;
    }
    .footerContainer {
        font-size: 10px;
    }
}

@media  screen and (min-width: 701px) and (max-width: 1000px) {
    .headerContainer {
        font-size: 13px;
    }

    nav {
        font-size: 17px;
    }

    .sec1, .sec2, .sec3 {
        font-size: 27px;
    }

    .sec1 p, .sec2 p, .sec3 p{
        padding: 13px;
    }
    
    .sec1Text, .sec2Text, .sec3Text {
        font-size: 15px;
        padding: 18px;
    }
    
    .projectsSec {
        font-size: 20px;
    }
    
    .otherSec1 p{
        font-size: 15px;
    }
    .otherSec2 p {
        font-size: 14px;
    }

    .tallImg, .tallVid {
        max-width: 25%;
        width:auto;
        max-height: 70%;
        height:auto;
    }

    .wideImg {
        max-width: 40%;
        width:auto;
        max-height: 55%;
        height:auto;
    }
}