* {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    display:flex;
    background-color: hsl(0, 0%, 15%); 
    color:white;
    display: flex;
    flex-direction: column;
}

.container > * {
    flex: 1 100%;
}

.headerContainer {
    padding: 10px;
    flex: 0.05;
    display: flex;
    font-family: monospace;
    background-color: hsl(0, 0%, 15%);
    font-size: 16px;
    text-align: center;
    justify-content: center;   
    position: fixed;
    width: 100%;
}

.headerContainer > h1 {
    font-weight:normal;
    color: hsl(0, 0%, 90%)
}

.underline {
    padding: 7px;
    border-bottom: solid hsl(0, 0%, 45%);
    border-width: 2px;
}

.navLink:link {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    opacity: 85%;
}

.navLink:visited { 
    text-decoration: none;
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
 }
.navLink:focus { 
    text-decoration: none; 
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
}
.navLink:hover, a:active { 
    text-decoration: none; 
    color: hsl(0, 0%, 50%);
}

.footerLinks:link {
    text-decoration: none;
    color: white
}

.footerLinks:visited { 
    text-decoration: none;
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
 }
.footerLinks:focus { 
    text-decoration: none; 
    color:hsl(0, 0%, 90%); 
    opacity: 85%;
}
.footerLinks:hover, a:active { 
    text-decoration: none; 
    color: hsl(0, 0%, 50%);
}

nav {
    background-color: hsl(0, 0%, 17.5%);
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 2.5%;
    border-radius: 50px;
    font-size: 20px;
}

.bodyTextHome { 
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 300px 300px 350px;
    grid-gap: 4em 0em;
}

.bodyTextWork {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 4em 0em;
}

.bodyTextProjects {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(3, 800px);
    grid-gap: 4em 0em;
}

.bodyTextOther {
    margin-top: 97px;
    padding: 5%;
    flex: 100;
    background-color: hsl(0, 0%, 10%);
    display:grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: 300px 500px 300px;
    grid-gap: 4em 0em;
}

.sec1, .sec2, .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    grid-column: span 1;
    grid-row: span 1;
    font-size: 35px;
    font-weight:bold;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sec1 p, .sec2 p, .sec3 p{
    border-right: solid;
    padding: 30px
}

.sec1Text, .sec2Text, .sec3Text {
    background-color: hsl(0, 0%, 20%);
    grid-column: span 2;
    grid-row: span 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    font-size: 20px
}

.multLines{
    margin-top: 10px;
}

.projectsSec {
    display:flex;
    justify-content: top;
    font-size:30px;
}

.otherSec1 p{
    font-size: 18px;
    margin-top: 15px;
}
.otherSec2 p {
    font-size: 16px;
}

.homeImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 50px;
    grid-column: span 3;
    grid-row: span 1;
    padding: 20px;
}

.homeImg img {
    padding: 10px;
    border-radius: 30px;
}

.footerContainer p {
    font-size: 25px;
    opacity: 50%
}

.footerContainer {
    font-family: monospace;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 15%); 
    opacity: 85%;
}

.footerContainer i {
    color: white;
}


